a:link { font-size: 14px; color: rgba(0, 0, 0, 0.7); text-decoration: underline; }
a:visited { color: rgba(0, 0, 0, 0.7); text-decoration: underline; }
a:hover { color: rgba(0, 0, 0, 0.7); background-color: #D6E2D0; }
a:active { font-size: 12px; color: rgba(0, 0, 0, 0.7); text-decoration: underline; }
a.nontext { color: black; text-decoration: none; font-style: normal; font-weight: normal; }

* {font-family: Andale Mono;}
h1{ font-family: "Andale Mono"; font-size: 18px; color: rgba(0, 0, 0, 0.7); text-transform: uppercase; }
h2{ font-family: "Andale Mono"; font-size: 14px; color: rgba(0, 0, 0, 0.7); text-transform: uppercase; }
p {font-family: Andale Mono; font-size: 14px; color: rgba(0, 0, 0, 0.7);}
label {display:block; margin-top:1em;}
input[type="text"], input[type="tel"], input[type="email"] {width:377px; border-style:none; background-color:#f7fff3; height:32px;}
input:focus {background-color:white;}
button {margin-top:1em; text-transform:uppercase; padding:0.2em 1em;}

.explanation {margin-top:1em;}
.container {width:380px; background-color:#d6e2d0; margin:auto; margin-top:2em; padding:0.5em 2em 1em 2em;}
.about-container {width:960px; background-color:#d6e2d0; margin:auto; margin-top:2em; padding:28px;}
.footer {text-align:center; margin-top:1em;}
.footer p.site-name {font-size:110%; margin:0.5em;}
.footer a {margin-left:0.5em; margin-right:0.5em; font-size:90%; line-height:2em;}
.container form .box {margin-bottom:1em;}
.container form .box .content {padding:0;}
.notice {background-color:#afa;}
.warning {color:red;}
.big-button {border:1px solid #555; width:100%; padding:1em;}
.big-button:hover {cursor:pointer; background-color:#aaa;}
.box {border:1px solid #555;}
.box .content {padding:1em;}
.box .header {border-bottom:1px solid #555; padding:3px 0 3px 3px; margin:0;}
.box .header h2 {margin:0;}
.about-container .box h2 {padding-left:1em;}
.left-column, .right-column {float:left; width:471px; height:660px; margin-top:14px;}
.logos-image {padding-bottom:28px;}
.phone-image {float:right; width:170px;}
.right-column {margin-left:14px;}
.about-title {text-align:center;}
.info, .help-email {font-size:80%; color:#666;}
.help-email {text-align:center; margin-top:0.5em;}
