
.container
  %form{:id => 'newExpensesForm', :method => 'POST', :action => '/application/create', :class => 'form-grp'}
    %h1 New Ledger
    .box
      %h2 Phone Number
      .content
        %input{:type => 'tel', :name => 'phone_number'}

    .box
      %h2 Project Name
      .content
        %input{:type => 'text', :name => 'project_name'}

    .box
      %h2 Email Address
      .content
        %input{:type => 'email', :name => 'email'}

    %button{:type => 'submit', :class => 'create-ledger-button'} Create

    .notice
      %p
        != flash[:notice]
	  
  .explanation
    %p Here you can set up a google spreadsheet for receiving expenses by SMS.

